# Flask and Extensions
Flask
Flask-SQLAlchemy
Flask-WTF
WTForms
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
PyMySQL

# Chat bot 
PyYAML
annotated-types
anyio
distro
groq
h11
httpcore
httpx
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-community
langsmith
orjson
pydantic
pydantic-core
requests-toolbelt
sniffio
tenacity
typing-inspection
zstandard

# Database
SQLAlchemy
psycopg2-binary

# Form Validation
email-validator

# Date/Time handling
python-dateutil

# Environment variables
python-dotenv

# Security
Werkzeug
cryptography

# HTTP requests (for external APIs)
requests

# Image processing (optional)
Pillow

# Development tools
python-decouple  # For configuration management

# Testing (optional)
pytest
pytest-flask

# Production server
gunicorn

# Cloud deployment (optional)
boto3

# login and OAuth
Flask-Dance 
oauthlib 
requests-oauthlib 
urlobject