{% extends "base.html" %}

{% block title %}Add New Tour - Admin{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Add New Tour</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.title.label(class="form-label") }}
                                    {{ form.title(class="form-control") }}
                                    {% if form.title.errors %}
                                    <div class="text-danger">
                                        {% for error in form.title.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.short_description.label(class="form-label") }}
                                    {{ form.short_description(class="form-control", rows="2") }}
                                    {% if form.short_description.errors %}
                                    <div class="text-danger">
                                        {% for error in form.short_description.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.destination.label(class="form-label") }}
                                    {{ form.destination(class="form-control") }}
                                    {% if form.destination.errors %}
                                    <div class="text-danger">
                                        {% for error in form.destination.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.departure_location.label(class="form-label") }}
                                {{ form.departure_location(class="form-control") }}
                                {% if form.departure_location.errors %}
                                <div class="text-danger">
                                    {% for error in form.departure_location.errors %}
                                    <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.duration_type.label(class="form-label") }}
                            {{ form.duration_type(class="form-select") }}
                            {% if form.duration_type.errors %}
                            <div class="text-danger">
                                {% for error in form.duration_type.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.difficulty_level.label(class="form-label") }}
                            {{ form.difficulty_level(class="form-select") }}
                            {% if form.difficulty_level.errors %}
                            <div class="text-danger">
                                {% for error in form.difficulty_level.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>



                        <div class="form-group">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control", rows="4") }}
                            {% if form.description.errors %}
                            <div class="text-danger">
                                {% for error in form.description.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.duration.label(class="form-label") }}
                                    {{ form.duration(class="form-control") }}
                                    {% if form.duration.errors %}
                                    <div class="text-danger">
                                        {% for error in form.duration.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.price.label(class="form-label") }}
                                    {{ form.price(class="form-control") }}
                                    {% if form.price.errors %}
                                    <div class="text-danger">
                                        {% for error in form.price.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.max_participants.label(class="form-label") }}
                                    {{ form.max_participants(class="form-control") }}
                                    {% if form.max_participants.errors %}
                                    <div class="text-danger">
                                        {% for error in form.max_participants.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.min_participants.label(class="form-label") }}
                                {{ form.min_participants(class="form-control") }}
                                {% if form.min_participants.errors %}
                                <div class="text-danger">
                                    {% for error in form.min_participants.errors %}
                                    <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.available_from.label(class="form-label") }}
                                    {{ form.available_from(class="form-control") }}
                                    {% if form.available_from.errors %}
                                    <div class="text-danger">
                                        {% for error in form.available_from.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.available_to.label(class="form-label") }}
                                    {{ form.available_to(class="form-control") }}
                                    {% if form.available_to.errors %}
                                    <div class="text-danger">
                                        {% for error in form.available_to.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.category_id.label(class="form-label") }}
                                    {{ form.category_id(class="form-control") }}
                                    {% if form.category_id.errors %}
                                    <div class="text-danger">
                                        {% for error in form.category_id.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.featured_image.label(class="form-label") }}
                                    {{ form.featured_image(class="form-control") }}
                                    {% if form.featured_image.errors %}
                                    <div class="text-danger">
                                        {% for error in form.featured_image.errors %}
                                        <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.gallery_images.label(class="form-label") }}
                            {{ form.gallery_images(class="form-control", multiple=true) }}
                            {% if form.gallery_images.errors %}
                            <div class="text-danger">
                                {% for error in form.gallery_images.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.itinerary.label(class="form-label") }}
                            {{ form.itinerary(class="form-control", rows="6") }}
                            {% if form.itinerary.errors %}
                            <div class="text-danger">
                                {% for error in form.itinerary.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.inclusions.label(class="form-label") }}
                            {{ form.inclusions(class="form-control", rows="4") }}
                            {% if form.inclusions.errors %}
                            <div class="text-danger">
                                {% for error in form.inclusions.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.exclusions.label(class="form-label") }}
                            {{ form.exclusions(class="form-control", rows="4") }}
                            {% if form.exclusions.errors %}
                            <div class="text-danger">
                                {% for error in form.exclusions.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.meta_title.label(class="form-label") }}
                            {{ form.meta_title(class="form-control") }}
                            {% if form.meta_title.errors %}
                            <div class="text-danger">
                                {% for error in form.meta_title.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.meta_description.label(class="form-label") }}
                            {{ form.meta_description(class="form-control", rows="3") }}
                            {% if form.meta_description.errors %}
                            <div class="text-danger">
                                {% for error in form.meta_description.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>


                        <div class="form-group form-check">
                            {{ form.is_active(class="form-check-input") }}
                            {{ form.is_active.label(class="form-check-label") }}
                        </div>

                        <div class="form-group form-check">
                            {{ form.is_featured(class="form-check-input") }}
                            {{ form.is_featured.label(class="form-check-label") }}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Add Tour
                            </button>
                            <a href="{{ url_for('admin_tours') }}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}